body{
    background-image: url("./assets/masks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}


.name{
    display:flex;
    justify-content: center;
    align-items: center;
}


.input-search
{   
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

}
.result
{
    padding:  12px;
   
    }

        
    